.body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.latest-news-section {
	padding:10px;
	margin:10px;
	width:481%;
	
}
.pictorial-news-section {
	padding:10px;
	margin:10px;
	width:%
}

.show {
	display: flex;
}
.news{
	padding:10px;
	margin:10px;
	width:600%;
}

.header {
    background-color: #011e29;
    color: white;
    text-align: center;
    padding: 20px;
}


.news-images img {
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}
